:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #7d879c;
    --bs-gray-dark: #373f50;
    --bs-gray-100: #f6f9fc;
    --bs-gray-200: #f3f5f9;
    --bs-gray-300: #e3e9ef;
    --bs-gray-400: #dae1e7;
    --bs-gray-500: #aeb4be;
    --bs-gray-600: #7d879c;
    --bs-gray-700: #4b566b;
    --bs-gray-800: #373f50;
    --bs-gray-900: #2b3445;
    --bs-primary: #fe696a;
    --bs-accent: #4e54c8;
    --bs-secondary: #f3f5f9;
    --bs-success: #42d697;
    --bs-info: #69b3fe;
    --bs-warning: #fea569;
    --bs-danger: #f34770;
    --bs-light: #fff;
    --bs-dark: #373f50;
    --bs-primary-rgb: 254, 105, 106;
    --bs-accent-rgb: 78, 84, 200;
    --bs-secondary-rgb: 243, 245, 249;
}

.dropdown-item .dropdown-header:hover {
    color: none !important;

}

@media only screen and (max-width: 600px) {
    .mysupport {}

    .navbar-toggle {
        display: flex !important;
        
    }
    .input-group {
        display: flex !important;
       
    }

    .navbar-collapse {
        display: none !important;
    }

    .dropdown {
        display: none !important;
    }

    .grid {
        margin-left: -5px !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows:  repeat(3, 1fr) !important; 
        grid-column-gap: 20px !important;
        grid-row-gap: 0px !important;
    }
    .card{
        width: 175px !important;
    }
    .price{
        font-size: 15px !important;
    }
    .product-card{
        margin-left: 60px;
    }
    .shadow-sm{
        padding-bottom: 25px;
        padding-top: 25px;
      }
      .nepal-flag{
        margin-top: 40px !important;
      }
      .float-right{
        margin-top: 14px;
      }
      .col-6 h4{
        font-size: 18px !important;
      }
}
@media only screen and (max-width: 900px) {
    .grid {
        margin-left: -5px !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows:  repeat(3, 1fr) !important; 
        grid-column-gap: 20px !important;
        grid-row-gap: 0px !important;
        height: 1240px;
    }
    .card{
        width: 175px !important;
    }
    .price{
        font-size: 15px !important;
    }
   .btn-scroll-top > .btn-scroll-top-icon {
    line-height: 3.075rem;
  }
  .shadow-sm{
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .nepal-flag{
    margin-top: 40px !important;
  }
  .float-right{
    margin-top: 14px;
  }
  .col-6 h4{
    font-size: 18px !important;
  }
}


.d-flex input {
    display: none !important;
}

.card-img-top {
    height: 188px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-left: 130px;

}

.card-title {
    height: 36px;
    line-height: 18px;
    font-size: 14px;
    font-family: 'Exo', sans-serif;
    color: #212121;

}

a {
    text-decoration: none;
    color: #212121;
    transition: 0.3s linear;

}

.card-hover:hover {
    color: #212121;
    transition: 0.3s linear;
}

.card {
    margin-top: 38px;
    height: 75%;
    width: 188px;
    border: 0px;
    transition: 0.3s linear;

}

.price {
    margin-bottom: 4px;
    font-size: 18px;
    color: #212121;
    letter-spacing: -.56px;
    line-height: 22px;
    height: 22px;
}

.card:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    transition: 0.3s linear;

}

.card img {
    height: 100%;
    object-fit: cover;

}


.card-body {
    padding-left: 10px;

}

.big-cards .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.big-cards .card {
    height: 350px;
}

.big-cards .card img {
    height: 100%;
    max-width: 100%;
}

.big-cards .card-title {
    font-size: 22px;
}

.price span {
    color: var(--bs-blue);
    margin-left: 5px;
}

.location span {
    color: #212121;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    color: var(--bs-blue);
    font-weight: 600px;
}

.card-body h5 {
    color: black !important;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-head {
    font-weight: 600;
}

.price {
    font-weight: 600;
    margin-bottom: 10px;

}
.btn-scroll-top{
    margin-right: -30px;
}
.close{
    padding-bottom: 5px;
}
.filterfire button{
    margin-right: 20px;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--bs-dark);
    
}

.rightTI { 
    color: #ff002b;
    white-space: nowrap; 
    overflow: hidden;
    animation: marquee 20s linear infinite;
  }
  .rightTI:hover {
    animation-play-state: paused;
  }
  @-webkit-keyframes marquee {
    0% {text-indent: 100%;}
    100% {text-indent: -100%;}
  }



